@model IEnumerable<dvd_store_adcw2g1.Models.DVDTitle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

              <th>
                @Html.DisplayNameFor(model => model.Producer.ProducerName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DVDCategory.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio.StudioName)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyCharge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DVDCategory.CategoryDescription)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Studio.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            <td>
                <a asp-action="EditPost" asp-route-id="@item.DVDNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDNumber">Details</a> |
                <a asp-action="DeleteConfirmed" asp-route-id="@item.DVDNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
