@model IEnumerable<dvd_store_adcw2g1.Models.CastMember>

@{
    ViewData["Title"] = "Function4";
}

<h1>Function4</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.DVDTitleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DVDTitle.Producer.ProducerName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DVDTitle.Studio.StudioName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.DateReleased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.DVDTitleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorSurname)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.Producer.ProducerName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.Studio.StudioName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.DateReleased)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CastMemberNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CastMemberNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CastMemberNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
