@model IEnumerable<dvd_store_adcw2g1.Models.CastMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>
                    @Html.DisplayNameFor(model => model.Actor.ActorSurname)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Actor.ActorFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DVDTitle.DateReleased)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.DVDTitle.StandardCharge)

                </th>

                 <th>
                    @Html.DisplayNameFor(model => model.DVDTitle.PenaltyCharge)
                </th>
                
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

              <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.DateReleased)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.StandardCharge)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.PenaltyCharge)
            </td>



            <td>
                <a asp-action="Edit" asp-route-id="@item.CastMemberNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CastMemberNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CastMemberNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
