@model IEnumerable<dvd_store_adcw2g1.Models.DVDCategory>

@{
    ViewData["Title"] = "Category";
}

<div class="d-flex justify-content-between mt-4 ml-5 mb-md-5" style="width: 85%; margin-left: 7%;">

    <h1>Category</h1>
    
</div>
<div class="d-flex justify-content-between" style="margin-left: 7%; margin-bottom: 2%; margin-right: 6%">
    <form asp-controller="Member" asp-action="Index" class="d-flex flex-row-reverse">
        <input type="search" name="SearchString" placeholder="Enter Surname" id="search-focus" id="form1" class="form-control"/>
        <button type="submit" value="Search" class="btn btn-dark">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addmodel"><i class="fas fa-add"></i></button>
</div>
<div class="table-responsive container-fluid ml-5 mr-5" style="width: 90%;">
    <table class="table table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.CategoryDescription)*@ Category
            </th>
            <th scope="col">
                @*@Html.DisplayNameFor(model => model.AgeRestricted)*@ Age Restrictions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryNumber">@Html.DisplayFor(modelItem => item.CategoryDescription)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRestricted)
                </td>
                <td>
                    <a asp-action="EditPost" asp-route-id="@item.CategoryNumber"><i class="fas fa-pen-to-square"></i></a> |
                
                    <a asp-action="DeleteConfirmed" asp-route-id="@item.CategoryNumber"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<!-- Modal -->
<!--Add-->
<div class="modal fade" id="addmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <form asp-action="Create">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add DVD Category</h5>
@*        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>*@
      </div>
      <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="CategoryDescription" class="col-form-label">Category</label>
                <input name="CategoryDescription" class="form-control" required/>
                <span for="CategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="AgeRestricted" class="col-form-label">Age Restrictions</label>
                <input type="number" name="AgeRestricted" class="form-control" />
                <span for="AgeRestricted" class="text-danger"></span>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="Create" class="btn btn-primary">Add</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--Font Awesome icon-->
<script src="https://kit.fontawesome.com/10d12be10d.js" crossorigin="anonymous"></script>