@model IEnumerable<dvd_store_adcw2g1.Models.ViewModels.MembersActiveLoans>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="d-flex justify-content-between mt-4 ml-5 mb-md-5" style="width: 85%; margin-left: 7%;">

    <h1>Members</h1>
    
</div>
<div class="table-responsive container-fluid ml-5 mr-5" style="width: 90%;">
<table class="table table-hover table-responsive-md">
    <thead>
        <tr>
            <th scope="col">
                Member Name
            </th>
            <th scope="col">
                Address
            </th>
            <th scope="col">
                D.O.B
            </th>
            <th scope="col">
                Category
            </th>
            <th scope="col">
                Total No of Loans
            </th>
            <th scope="col">
                Report
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MembershipFirstName) @Html.DisplayFor(modelItem => item.Member.MembershipLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MembershipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberCategory.MembershipCategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalActiveLoans)
            </td>
            <td>
                <div class="text-danger">
                    @if(item.TotalActiveLoans > item.MemberCategory.MembershipCategoryTotalLoans)
                        {
                           @("Too many DVDs")
                        }
                        else
                        {
                            @("-")
                        }
                </div> 
                        
                </td>
        </tr>
}
    </tbody>
</table>
</div>