
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
        <p>@ViewData["message"]</p>
    @if ((bool) ViewData["error"]! == false)
    {
        <form asp-action="Create">
        <input type="hidden" name="memberID" value="@ViewData["memberID"]"/>
        <input type="hidden" name="dvdCopyID" value="@ViewData["dvdCopyID"]"/>
        <input type="hidden" name="loanTypeID" value="@ViewData["loanTypeID"]"/>
        <input type="hidden" name="confirm" value="@ViewData["confirm"]" />
        <button type="Submit" value="Submit" />
        </form>
    }
    
</div>